<!-- this is error page -->
<% include ./partials/header %>

 <div id="main">


 		<p class="text-center p-3 mb-2 bg-danger text-white">Sorry for problems, Please go <a href="/">here</a></p>
 		
 	

 </div>
<% include ./partials/footer %>