<!--this form opens up when user clicks on 'forget Password' in userLogine.ejs
router.get('/user/forgot-password',userController.forgotPassword);
-->
<% include ../partials/header %>
<div id="main">

		<form action="/user/forgot-password" method="POST" class="container form-resize">
		    <fieldset class="p-2 mt-4">
			    <legend class="text-center p-4"> Forgot Password </legend>
			    <div class="form-group">
				    <label for="email">Email</label>
				    <input type="email" name="email" autofocus required class="form-control">
			    </div>
			    <div class="form-group">
				    <input type="submit" class="col-12 col-md-4 btn submit" value="Reset Password">
			    </div>
			</fieldset>
		</form>
	
</div>

<% include ../partials/footer %>