<!--This view is for General / logged in user -->
<!--router.get('/user/:username', middlewares.checkUserLoginStatus, userController.helloUser);-->
<% include ../partials/header %>
		<div class="container-fluid mt-2">
		   
			<!--advertise in home page for all viewports except mobile -->
			
			<!--the following input tag is used to check the value of parameter. Depending on the value, we've to display alert to user-->
			<input type='hidden' class='parameter'value='<%=parameter%>'>
			<div class="d-none d-sm-block homepage-ad"></div>
			<!--advertise in home page for mobile only-->
			<div class="d-block d-sm-none homepage-ad-mobile"></div>
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-md-5 mt-4">
					<!-- hide on xs, show on other viewports -->
					<h1 class="mt-4 d-none d-sm-block home-page-header">Find your nearest ISPs<br>and their packages</h1>
					<!-- show only on xs -->
					<h3 class="mt-4 d-block d-sm-none home-page-header">Find your nearest ISPs<br>and their packages</h3>
					
					<p class="mt-4">Input your desired location, budget and ISP name(optional)
					to find your suitable connection</p>
					<form method="POST" action="/find-isp" >
						
						<!-- input location -->
						<div class="form-group mr-3" id="location-field">
							<input class="form-control auto mt-2" name="location" id="autocomplete"type="text" placeholder="Type location here" value="" required>
							<div class="error text-error"></div>
						</div>
						
						<!-- select price range -->
						<label for="slider"class="text-secondary mt-2 mb-3">Select price range</label>
						<div id="slider"></div>
						
						<div id="slider-value-lower" class="p-1 text-secondary float-left" ></div>
						<div id="slider-value-upper" class="p-1 text-secondary float-right" name="upperValue"value=""></div>
						<input type="hidden" name="lowerValue"value=""id="inputLowerValue">
						<input type="hidden" name="upperValue"value=""id="inputUpperValue">
						<!-- select ISP dropdown -->
						<div class="dropdown d-inline">
							<button class="btn dropdown-toggle d-inline w-100 border-0 mt-2 bg-beige show-isp" type="button" id="show-isp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    select ISP (optional)
							</button>
							<div class="dropdown-menu w-100"aria-labelledby="show-isp">
								<% isps.forEach(function(isp)
								{%>
							
							   <a class="dropdown-item w-100 d-block isp" href="javascript:void(0)"><%= isp.nameOfIsp %></a>
							   <% }) %>	
							   <input type="hidden" name="isp"value=""id="inputIsp">
							</div>
						</div>
						<input type="submit" value="Search" name=""id="search" class="btn submit mt-2 text-white w-100">
					</form>
				</div>		
				<div class="col-12 col-md-5 mt-4 d-none d-sm-block"><img src="../img/banner.svg" class="img-fluid"></div>
			</div>
		</div>	
		<div id="contact"class="container contact-form my-4"> 
	    	<form method="post" action="/contact-form">
	        	<h3 class="home-page-header text-center p-4">Drop Us a Message</h3>
	            <div class="row">
	            	<div class="col-12 col-md-6">
	                	<div class="form-group">
	                    	<input type="text" name="name" class="form-control" placeholder="Your Name *" value="" required>
	                    </div>
	                    <div class="form-group">
	                    	<input type="email" name="email" class="form-control" placeholder="Your Email *" value="" required>
	                    </div>
	                    <div class="form-group">
	                    	<input type="tel" name="phone" class="form-control" placeholder="Your Phone Number *" value="" required>
	                    </div>
	                </div>
	                <div class="col-12 col-md-6">
	                	<div class="form-group">
	                    	<textarea name="message" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
	                    </div>
	                </div>
	                <!--show in all viewports except mobile-->
	                    
	            </div>
	            <div class="d-flex justify-content-center">
	            	<input type="submit" id="" name=""value="Submit" class="col-12 col-md-4 btn submit">
	            </div>	
	       </form>
		</div>

<% include ../partials/footer %>
<% include ../partials/validation/range-slider %>
<script>
	initAutocomplete();	
	let parameter=$('.parameter').val(), 
	speech;
	
	// firstTime means user is just registered
	if (parameter=='firstTime'){
		speech=`You are now a registered user!Now You have the privilege to communicate directly with your ISP including creating ticket and
		            reviewing their service. But to be able to do that, you should create your profile first which must be verified by respective ISP.`;
		} 
		
		// profileComplete means user just completes profile
		else if (parameter=='profileComplete'){
			
		speech=`You have completed your profile successfully. ISP will send you a reply regarding your status.`;
			
		} else if(parameter=='profileIncomplete'){
			speech=`Please complete your profile so that your ISP can verify the information. You will receive email from ISP`;
		}
		console.log('parameter= '+parameter);
		if (parameter.length>0 && parameter=='profileComplete'){
		
			Swal.fire({
			title: `Congratulations!!`,
			text: speech,
			type: 'success',
		  
		})	
		}
		if (parameter.length>0 && parameter=='profileIncomplete'){
		
			Swal.fire({
			title: `Profile incomplete!`,
			text: speech,
			type: 'info',
		  
		})	
		}
		

</script>

	