<!-- show login form -->
<!--router.get('/login', ispLoginController.loginForm);-->

<% include ../partials/header %>

<div id="main">

	<!--router.post('/login', middlewares.emailToLowercase, passport.authenticate())-->
	<form method="POST" action="/login" class="container registration-form form-resize">
	 	<fieldset class="p-2 mt-4">
	 		<legend class="text-center p-4"> ISP Login Form </legend>
	 		
			<div class="form-group mb-5">
			    <label for="email"> Email </label>
			    <input type="email" class="form-control" name="email" placeholder="" id="email" required autofocus>
			</div>
			<div class="form-group mb-5">
			    <label for="password"> Password </label>
			    <input type="password" class="form-control" name="password" id="password" placeholder=""required>
			</div>
			
			<!--<div class="d-md-flex justify-content-md-center">-->
				<input type="submit" value="Login" class="col-12 col-md-4 btn submit">  
			
            <!--</div>-->
	 	</fieldset>
	 	<!--router.get('/user/forgot-password',userController.forgotPassword);-->
		<a href="/user/forgot-password" class="btn">Forgot Password?</a>
	</form>
</div>
<% include ../partials/footer %>
<script>

</script>



