<!-- this is ISP registration form -->
<!--router.get('/registration', ispRegistrationController.showIspRegistrationForm);-->

<% include ../partials/header %>

 <div id="main" class="container-fluid">
	<!--router.post('/registration', middlewares.emailToLowercase, ispRegistrationController.registerIspInDb);-->
	<form method="POST" action="/registration" class="container registration-form form-resize" id='isp-registration'>
	 	<fieldset class="p-4">
	 		<legend class="text-center pt-4"> ISP Registration Form </legend>
	 		<div class="form-group mb-5">
			    <label for="nameOfIsp"> Name of ISP <span class="text-danger-custom">* </span></label></label>
			    <input type="text" class="form-control" name="nameOfIsp" id="nameOfIsp" placeholder=""required autofocus>
			</div>
			<div class="form-group mb-5">
			    <label for="phone"> Phone <span class="text-danger-custom">* </span> (hint: should contain 11 valid numbers. You can change it later)</label>
			    <div class="input-icon position-relative">
			    	<!--<span class="country-code position-absolute">+88 </span>-->
			    	<!--upper one is omitted as it needs more css to create the look-->
			    	<input type="text" value="+88" class="form-control" id="country-code" readonly>
			    	<input type="text" class="form-control" name="phone" id="phone" onkeypress="return isNumber(event)"
			    	minlength="11" maxlength="11"placeholder=""required>
      			</div>
      			<!-- registration-form-validation.ejs contains the validation strategy -->
			    <span id="phone-validation-message"class=" message p-3 text-white"></span>
      		</div>
			<div class="form-group mb-5">
			    <label for="username"> Username <span class="text-danger-custom">*</span> <span>(hint: should contain alphabets, lettes and underscores only)</span> </label>
			    <input type="text" class="form-control" name="username" id="username" placeholder=""required
			    onfocusout="return isProperName()">
			    <span id="username-message"class="message py-2 text-white"></span>
			</div>
			
			<div class="form-group mb-5">
			    <label for="email"> Email <span class="text-danger-custom">*</span> </label>
			    <input type="email" class="form-control" name="email" id="email" autocomplete="off" placeholder=""required>
			</div>

			<div class="form-group mb-5">
			    <label for="password"> Password <span class="text-danger-custom">* </span><span>(hint: should contain at least 8 characters)</span></label>
			    <input type="password" class="form-control" name="password" id="password"  minlength="8" placeholder=""required>
			    
			</div>
			<div class="form-group mb-5">
			    <label for="confirmPassword"> Confirm Password </label>
			    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" minlength="8" placeholder="" required>
			    <!-- registration-form-validation.ejs contains the validation strategy -->
			    <span id="password-match-message"class=" message p-3 text-white"></span>
			</div>

			  <input type="submit" id="reg-submit" value="Register" class="col-12 col-md-4 btn submit" disabled>  
			  <!--<input type="reset" value="Reset" class="col-12 col-md-4 btn reset">-->
	 	</fieldset>
	</form>

 </div>
<!--general footer-->
<% include ../partials/footer %>
<!--general form validation like allow only number or pw & confirm-pw must be same etc-->
<% include ../partials/validation/registration-form-validation %> 

<script>
$(function(){
	// when user clicks submit button, a popup appears. We've used SweetAlert2 for this purpose.
	$('#reg-submit').click((e)=>{
		e.preventDefault();
		Swal.fire({
		  title: '',
		  text: "Are you sure to submit?",
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#19abd0',
		  cancelButtonColor: '#d33',
		  confirmButtonText: 'Submit'
		}).then((result) => {
		  if (result.value) { //if user chooses submit
			$('#isp-registration').submit(); 
		  }
		})
	})
	
	// control border-color of #country-code when focus/focusout event triggered on #phone
	$('#phone').focus(function(){
		$('#country-code').css({'border': '2px solid #80bdff','border-right':'0'});
	})
	$('#phone').focusout(function(){
		$('#country-code').css({'border-color': '#e6e6e6','border-right':'0'});
	})
})
</script>

